#user_profil_div_1 {
    margin-top: 1%;
}
#user_profil_div_2 {
    margin-top: 2%;
}
#user_profil_div_3 {
    margin-top: 1%;
}
#user_profil_save_data {
    margin-top: 1%;
}
#user_profil_div_4 {
    margin-top: 2%;
}
#user_profil_div_picture {
    margin-top: 1%;
}
#user_profil_div_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#user_profil_div_picture_delete_btn {
    margin-top: 1%;
    width: fit-content;
}
#user_profil_div_picture_input {
    margin-top: 1%;
}
#user_profil_picture_submit_btn {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}